
@font-face{
    font-family: zombie; src: url("./fonts/Road_Rage.otf");
}
.hangman1{
    background-image: url("./images/zombie.gif");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-rows: 25% 55% auto;
    height: 100vh;
    width: 96.5vw;
    border: solid black 30px;
    margin: 0;

}



.hangman{
    background: black;
    background-image: url("./images/city.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

h5{
    text-align: center;
    color: white;
    font-size: 14px;
}
#start{
    grid-column: 1;
    grid-row: 3;
   padding-top: 40px;
}


.press{
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: red;
    font-size: 20px;
    display: block;
    margin: 0 auto;
   
}
.press:hover{
    color:red;
    font-size: 26px;
    background-color: white;
}
.gameintro{
    text-align: center;
    color: red;
    font-size: 80px;
    top:80%;
    font-family: zombie;
    
}
.gameintro:hover{
    color:white;
}
.titlecat{
    grid-column: 1;
    grid-row: 1;

}
.category{
    position: absolute;
    top: 20%;
    left: 45%;
    bottom: 50%;
    right: 50%;
    margin-top: -30px;
    margin-left: -120px;
    width: 350px;
    height: 50px;
    border: solid white;
    background-color: whitesmoke;
    text-align: center;
    font-size: 36px;
    grid-column: 1;
    grid-row: 1;
    
}

#over{
    width: 300px;
    height: 30px;
    background-color: white;
    border: solid red;
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: 90%;
    left: 47%;
    bottom: 80%;
    right: 50%;
    margin-left: -120px;
    grid-column: 1;
    grid-row: 3;
}
h3{
    color: white;
    font-size: 26px;
    position: absolute;
    top: 20%;
    left: 45%;
    bottom: 50%;
    right: 50%;
    margin-top: 30px;
    margin-left: 20px;
    grid-column: 1;
    grid-row: 1;
}
.restart{
    font-size: 20px;
    top: 80%;
    text-align: center;
    width: 300px;
    height: 30px;
    background: red;
}
.restart:hover{
    font-size: 24px;
    box-shadow: 0px 0px 40px white;
    
}
.intro{
    font-size: 80px;
    color:red;
    text-align: center;
    padding-top: 40px;
    font-family: zombie;
    grid-column: 1;
    grid-row: 1;
}



#outerghost{
    grid-column: 1;
    grid-row: 2;

}

.introghost{
    
    /* background-image: url("./images/ghost_PNG17.png"); */
    opacity: 0.2;
    width: 400px;
    height: 500px;
    display: block;
    margin: 0 auto;
    
    
}
#sub{
    grid-column: 1;
    grid-row: 3;
    /* border: solid white; */
}
.headBox{
    /* border: solid white; */
    height: 50px;
}
.under{
    color: red;
    border: solid white;
    font-family: zombie;
    text-align: center;
    font-size: 100px;
    margin:  25px auto;
    width: 80%;
    height: 160px;
   



}
.correct{
    color: red;
    border: solid white;
    font-family: zombie;
    text-align: center;
    font-size: 40px;
    margin: 25px auto;
    width: 80%;
    height: 160px;
    opacity: 0.5;
}
.wrong{
    color: red;
    border: solid white;
    font-family: zombie;
    text-align: center;
    font-size: 40px;
    margin: 25px auto;
    width: 80%;
    height: 160px;
    opacity: 0.3;
}